*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-family: var(--mainFont);
}

/* fix onclick on document on iOS */
/* без этого на ios мобилах не срабатывает document.onclick */

@media (max-width: 639px) {
  html * {
    cursor: pointer;
  }
}

/* iOS Safari remove gray highlight when tapping links */

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* iPad Input Shadows */

input[type='text'],
input[type='email'],
input[type='search'],
input[type='password'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  /* mobile firefox too! */
}

input[type='text']::-ms-clear {
  display: none;
}

input[type='password']::-ms-reveal {
  display: none;
}

/**
* 1. Set default font family to sans-serif.
* 2. Prevent iOS text size adjust after orientation change, without disabling
*    user zoom.
*/

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/**
* Improve readability when focused and also mouse hovered in all browsers.
*/

a:active,
a:hover {
  outline: 0;
}

/**
* Re-set default cursor for disabled elements.
*/

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
* Remove most spacing between table cells.
*/

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*******************************
            Page
*******************************/

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 280px;
  background: #F9F9F8;
  line-height: 1.45;
}

a {
  text-decoration: none;
}

bdo[dir='rtl'] {
  text-align: right;
}

button {
  padding: 0;
  outline: none;
  background: none;
  border: none;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.warning-text b {
  font-weight: normal;
  color: #3e3e41;
}

.text-fieldset input {
  padding: 16px;
  border-radius: 3px;
  font-weight: 400;
  font-size: 16px;
  background: no-repeat right 20px center;
  color: #4a4a4a;
  border: 1px solid transparent;
  width: 100%;
}
